<div class="background-layout">
  <div class="landing-wrapper">
    <div class="l-body">
      <div>
        <h1>Welcome to your Private Budget Planner</h1>
      </div>
      <div class="mt-5">
        <button type="button" color="accent" routerLink="auth/login" mat-stroked-button style="margin-right: 20px;">
          LOGIN
        </button>
        <button type="button" color="primary" routerLink="auth/register" mat-raised-button>
          REGISTER
        </button>
      </div>
    </div>
  </div>
</div>
