$primary: #3a506a;
$secondary: #ff9100;
$accent: #9c27b0;

$dark: #333232;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

.update-data-title {
  color: $primary;
  text-align: center;
}

.update-btn {
  text-align: end;
  margin-top: 16px;
}
