$primary: #3a506a;
$secondary: #ff9100;
$accent: #9c27b0;

$dark: #333232;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

.delete-expense-title {
  color: $primary;
}

.delete-expense-content {
  text-align: center;
}

.delete-expense-content.mat-dialog-content {
  overflow: inherit;
}

.del-expense-name {
  color: $primary;
  font-weight: 600;
  margin-bottom: 16px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
